#container{
	width:910px;
	height:100vh;
}
#canvasDiv{
	border:1px solid black;
	height:700px;
	width:700px;
	margin:0 auto;
	display:inline-block;
	vertical-align:top;
}
#toolBar{
	height:700px;
	width:104px;
	background-color:white;
	border:1px solid black;
	margin:0 auto;
	display:inline-block;
	vertical-align:top;
}
.tool-active{
	height:30px;
	width:30px;
	padding:10px;
	border:1px solid black;
	display:inline-block;
	vertical-align:top;
}
.tool-active, .tool-inactive{
	text-align:center;
	font-size:150%;
}
.tool-inactive{
	height:30px;
	width:30px;
	padding:10px;
	border:1px solid black;
	background-color:#f2f2f2;
	color:grey;
	display:inline-block;
	vertical-align:top;
}
#test{
	height:30px;
	width:82px;
	background-color:#3399ff;
	color:white;
	border:1px solid #3399ff;
	padding:10px;
}