#container{
	width:910px;
	height:100vh;
}
.canvasDiv{
	border:1px solid black;
	height:700px;
	width:700px;
	margin:0 auto;
	display:inline-block;
	vertical-align:top;
}
#toolBar{
	height:700px;
	width:100px;
	background-color:white;
	border:1px solid black;
	margin:0 auto;
	display:inline-block;
	vertical-align:top;
}
.tool-active{
	height:30px;
	width:30px;
	padding:10px;
	display:inline-block;
	vertical-align:top;
	cursor:pointer;
	background-color:white;
}
.tool-active:hover{
	border:1px solid black;
	padding:9px;
	height:28px;
	width:30px;
}
.tool-active, .tool-inactive{
	text-align:center;
	font-size:150%;
	font-family:sans-serif;
}
.tool-active img, .tool-inactive img{
	height:30px;
	width:30px;
}
.tool-inactive{
	height:30px;
	width:30px;
	padding:10px;
	border:1px solid black;
	background-color:#a6a6a6;
	color:grey;
	display:inline-block;
	vertical-align:top;
}
.element{
	position:relative;
	cursor:move;
	width:30px;
}
/*#element{
	position:relative;
	cursor:move;
	width:30px;
}*/
#test{
	height:30px;
	width:78px;
	background-color:#33cc33;
	color:white;
	border:1px solid #33cc33;
	padding:10px;
	font-family:sans-serif;
	letter-spacing:1px;
	text-align:center;
}
#test:hover{
}
#clear{
	height:30px;
	width:78px;
	background-color:#fc3b1d;
	color:white;
	border:1px solid #fc3b1d;
	padding:10px;
	font-family:sans-serif;
	letter-spacing:1px;
	text-align:center;
}
#export{
	height:30px;
	width:78px;
	background-color:#9966ff;
	color:white;
	border:1px solid #9966ff;
	padding:10px;
	font-family:sans-serif;
	letter-spacing:1px;
	text-align:center;
}